/*
 * Color scheme -- yellow
 */

$base_color:#fdb812;
 $primary_gradient1_color:rgb(209, 207, 208);
 $secondary_gradient1_color:rgb(244, 244, 244);
 $tertiary_gradient1_color:rgb(255, 255, 255);
 $quaternary_gradient1_color:rgb(215, 215, 215);
 $other_gradient1_color:rgb(184, 184, 184);
 $border_gradient1_color:rgb(149, 149, 149);
 $primary_gradient2_color:rgb(255, 180, 13);
 $secondary_gradient2_color:rgb(229, 162, 11);
 $tertiary_gradient2_color:rgb(247, 150, 19);
 $primary_gradient3_color:rgb(54, 184, 244);
 $secondary_gradient3_color:rgb(40, 115, 173);
 $tertiary_gradient3_color:rgb(23, 82, 137);
 $primary_button_color:rgb(56, 190, 253);
 $secondary_button_color:rgb(33, 161, 224);
 $tertiary_button_color:rgb(30, 130, 189);
 $quaternary_button_color:rgb(28, 104, 162);
 $border_button_color:#175289;
 $primary_button2_color:rgb(255, 191, 41);
 $secondary_button2_color:rgb(241, 152, 11);
 $private_background_color:#f89810;
 $private_border_color:#8f8f8f;
 $header_background_color1:rgb(0, 0, 0);
 $header_background_color2:rgb(46, 46, 46);
 $header_border_shadow_color:#000000;
 $header_inner_border_shadow_color:#404149;
 $header_content_background_color1:#F79613;
 $header_content_background_color2:#FEB50C;
 $selected_background_color:$primary_button2_color;
@import "../style";
